# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/rnd_node_editor_text_imgui_glfw
/x64/Debug
/rnd_node_editor_text_imgui_glfw/Resources
/rnd_node_editor_text_imgui_glfw/x64/Debug
/rnd_node_editor_text_imgui_glfw/external
/rnd_node_editor_text_imgui_glfw/hipbin
*.ini
/rnd_node_editor_text_imgui_glfw/cache
